html
    head
        title= title
    body
        h1= title
        ul
            each item in todoList
                li= item.text
        form(action='/submit_new', method='POST')
            input(type='text', name='new_todo_item', autofocus)
